<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= course.hours %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= course.credit %>
  </p>

</div>
